img {
    max-width: 90%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 5%;
    margin-inline: 6%;
}

article {
    border: black solid 2px;
    padding: 5%;
}

h1 {
    display: flex;
    justify-content: center;   
}

nav {
 display: flex;
 justify-content: center;   
 gap: 1rem;

}
button {
    border: none;
}

.valgt {
border: black solid 2px;
}



@media (min-width: 700px) {
 
    section {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-inline: 10%;
    }
    
}